In [35]:
import pandas as pd
import requests
import pymongo
import pprint
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [36]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [37]:
# URL of page to be scraped
url = 'https://redplanetscience.com/'
browser.visit(url)

browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [38]:
#converts to soup
html=browser.html
newsSoup = soup(html, 'html.parser')

In [39]:
slideElem = newsSoup.select_one('div.list_text')

In [40]:
#current content_title
slideElem.find('div', class_='content_title')

In [41]:
#store current title as string
currTitle = slideElem.find('div', class_='content_title').get_text()
currTitle

'Two of a Space Kind: Apollo 12 and Mars 2020'

In [42]:
#find paragraph text
newsP = slideElem.find('div', class_='article_teaser_body').get_text()
newsP

'Apollo 12 and the upcoming Mars 2020 mission may be separated by half a century, but they share several goals unique in the annals of space exploration.'

In [43]:
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [44]:

fullimage = browser.find_by_tag('button')[1]
fullimage.click()

In [45]:
html = browser.html
imageSoup = soup(html, 'html.parser')

In [46]:
imageURL = imageSoup.find('img', class_= 'fancybox-image').get('src')
imageURL

'image/featured/mars3.jpg'

In [47]:
imageURL = f'https://spaceimages-mars.com/{imageURL}'
imageURL

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [ ]:
#MARS FACTS

In [50]:
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [51]:
df.columns = ['Description', 'Mars', 'Earth']
df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [52]:
df.set_index('Description', inplace=True)
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [ ]:
#HEMISPHERES

In [70]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [71]:
hemiImgURL = []
links = browser.find_by_css('a.product-item img')

for i in range(len(links)):
    hemiInfo = {}
    #grab elements in the loop
    browser.find_by_css('a.product-item img')[i].click()
    #grab image hrefs
    sample = browser.links.find_by_text('Sample').first
    hemiInfo["img_url"] = sample['href']
    #grab hemi titles
    hemiInfo['title'] = browser.find_by_css('h2.title').text
    
    hemiImgURL.append(hemiInfo)
    
    
    browser.back()

In [72]:
hemiImgURL

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [73]:
browser.quit()